<div class="container p-2" id="box">
	<!-- Event Heading -->
	<h1 class="jumbotron m-4">Bucket List</h1>

	<!-- Event Picture -->
	<!-- <div class="container d-flex justify-content-center my-4">
		<img class="rounded mx-auto d-block" width="98%" src="https://w.wallhaven.cc/full/5w/wallhaven-5w6j85.jpg" alt="Event Image">
	</div> -->

	<!-- EVENT CREATION -->
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-8 mx-auto">
				<h2>Add an Event</h2>
				<form (ngSubmit)="addEvent()" #thisForm="ngForm">
					<!-- INPUT FIELDS -->
					<div class="form-group">
						<input [(ngModel)]="event.eventName" #eventName="ngModel" name="inputEventName" id="inputEventName" type="text" placeholder="Event Name" class="form-control rounded-pill border-0 shadow px-4" required>
					</div>

					<div class="form-group">
						<input [(ngModel)]="event.eventDescription" #eventDescription="ngModel" name="inputEventDescription" id="inputEventDescription" type="text" placeholder="Event Description" class="form-control rounded-pill border-0 shadow px-4" pattern="[0-9]{10}" required>
					</div>

					<div class="form-group">
						<input [(ngModel)]="event.eventLocation" #eventLocation="ngModel" name="inputEventLocation" id="inputEventLocation" type="text" placeholder="Event Location" class="form-control rounded-pill border-0 shadow px-4" required>
					</div>

					<div>
						<input [(ngModel)]="event.dateTime" #dateTime="ngModel" name="inputDateTime" id="inputDateTime" type="datetime-local" class="form-control rounded-pill border-0 shadow px-4" required>
					</div>

					<div class="form-group">
						<label for="inputEventType"></label>
						<select class="form-control" name="inputEventType" id="inputEventType">
							<option value="generic">Generic Event</option>
							<option value="outdoors">Outdoors</option>
							<option value="party">Party</option>
							<option value="game night">Game Night</option>
							<option value="bar">Bar</option>
							<option value="hottenanny">Hootenanny</option>
						</select>
					</div>

					<!-- BUTTONS -->
					<div class="text-center">
						<button class="btn btn-success btn-inline text-uppercase rounded-pill border-0 shadow mt-4" type="submit">Add Event</button>
						<button class="btn btn-primary btn-inline text-uppercase rounded-pill border-0 shadow mt-4" type="button" (click)="displayEvents()">My Events</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>