<div class="container p-2" id="box">
	<!-- Event Heading -->
	<h1 class="jumbotron m-4">Event Name</h1>

	<!-- Event Row -->
	<div class="row">
		<div class="col-8">
			<img class="img-fluid m-4" src="https://www.discoverlosangeles.com/sites/default/files/styles/hero/public/images/2019-04/Border%20Grill%20DTLA%20Easter%20Brunch%20Small%20Plates.jpg?itok=MWxgNuzW" alt="Event Image" width="95%">
		</div>
		<div class="col-4">
			<h3 class="m-4">Event Details</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et,
				interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
			<h3 class="m-4">RSVP</h3>
			<ul>
				<li>Lorem Ipsum</li>
				<li>Dolor Sit Amet</li>
				<li>Consectetur</li>
				<li>Adipiscing Elit</li>
			</ul>
		</div>
	</div>
</div>