<div class="container-fluid">
	<div class="row no-gutter">
		<!-- LEFT HALF -->
		<div class="col-md-6 d-none d-md-flex bg-image"></div>

		<!-- RIGHT HALF -->
		<div class="col-md-6 bg-light">
			<div class="register d-flex align-items-center">

				<!-- REGISTER-->
				<div class="container">
					<div class="row">
						<div class="col-8 mx-auto">
							<p class="display-4">Register</p>
							<form (ngSubmit)="register()" #thisForm="ngForm">
								<!-- INPUT FIELDS -->
								<div class="form-group">
									<input [(ngModel)]="user.email" #email="ngModel" name="inputEmail" id="inputEmail" type="email" placeholder="Email address" class="form-control rounded-pill border-0 shadow px-4" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
									<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger rounded-pill border-0 shadow m-1 p-1 text-center text-muted">
										<div *ngIf="email.errors.required">Email is required!</div>
										<!-- PatternValidator -->
										<div *ngIf="email.errors?.pattern">Email must be in [email@domain.info] format.</div>
									</div>
								</div>
								<div class="form-group">
									<input [(ngModel)]="user.password" #password="ngModel" name="inputPassword" id="inputPassword" type="password" placeholder="Password" class="form-control rounded-pill border-0 shadow px-4" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
									<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger rounded-pill border-0 shadow m-1 p-1 text-center text-muted">
										<div *ngIf="password.errors?.required">Password is required!</div>
										<!-- PatternValidator -->
										<div *ngIf="password.errors?.pattern">Password must be at least 8 characters long with at least one uppercase, one lowercase and one number.</div>
									</div>
								</div>
								<div class="form-group">
									<input [(ngModel)]="user.firstName" #firstName="ngModel" name="inputFirstName" id="inputFirstName" type="text" placeholder="First name" class="form-control rounded-pill border-0 shadow px-4" required>
									<div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger rounded-pill border-0 shadow m-1 p-1 text-center text-muted">
										<div *ngIf="firstName.errors.required">First name is required!</div>
									</div>
								</div>
								<div class="form-group">
									<input [(ngModel)]="user.lastName" #lastName="ngModel" name="inputLastName" id="inputLastName" type="text" placeholder="Last name" class="form-control rounded-pill border-0 shadow px-4" required>
									<div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger rounded-pill border-0 shadow m-1 p-1 text-center text-muted">
										<div *ngIf="lastName.errors.required">Last name is required!</div>
									</div>
								</div>
								<div class="form-group">
									<input [(ngModel)]="user.contact" #contact="ngModel" name="inputContact" id="inputContact" type="text" placeholder="Phone number" class="form-control rounded-pill border-0 shadow px-4" pattern="[0-9]{10}" required>
									<div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger rounded-pill border-0 shadow m-1 p-1 text-center text-muted">
										<div *ngIf="contact.errors.required">Phone number is required!</div>
										<!-- PatternValidator -->
										<div *ngIf="contact.errors?.pattern">Phone number must be in 10-digit format without hyphens.</div>
									</div>
								</div>

								<!-- BUTTONS -->
								<div>
									<button class="btn btn-primary btn-block text-uppercase rounded-pill border-0 shadow mt-4" type="submit" [disabled]="!thisForm.form.valid">Sign Up</button>
								</div>

								<!-- ROUTING -->
								<div class="text-center justify-content-between mt-4">
									<p>
										Have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="font-italic text-muted">Login</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>