<div class="container-fluid">
	<div class="row no-gutter">
		<!-- LEFT HALF -->
		<div class="col-md-6 d-none d-md-flex bg-image"></div>

		<!-- RIGHT HALF -->
		<div class="col-md-6 bg-light">
			<div class="register d-flex align-items-center py-5">

				<!-- REGISTER-->
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-xl-7 mx-auto">
							<h3 class="display-4">Register</h3>
							<form>
								<!-- INPUT FIELDS -->
								<div class="form-group mb-3">
									<input id="inputEmail" type="email" placeholder="Email address" class="form-control rounded-pill border-0 shadow-sm px-4" required autofocus>
								</div>
								<div class="form-group mb-3">
									<input id="inputPassword" type="password" placeholder="Password" class="form-control rounded-pill border-0 shadow-sm px-4 text-secondary" required>
								</div>
								<div class="form-group mb-3">
									<input id="inputUsername" type="text" placeholder="Username" class="form-control rounded-pill border-0 shadow-sm px-4 text-secondary" required>
								</div>

								<!-- BUTTONS -->
								<button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign Up</button>
								<div class="text-center d-flex justify-content-between mt-4">
									<p>
										Have an account? <a href="https://www.google.com" class="font-italic text-muted">Login</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div><!-- LEFT SIDE END -->

			</div>
		</div><!-- RIGHT SIDE END -->

	</div>
</div>