<div class="container-fluid">
	<div class="row no-gutter">
		<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
		<div class="col-md-8 col-lg-6">
			<div class="register d-flex align-items-center py-5">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-lg-8 mx-auto">
							<h3 class="register-heading mb-4">Register</h3>
							<form>
								<!-- INPUT FIELDS -->
								<div class="form-label-group">
									<input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
									<label for="inputName">Name</label>
								</div>

								<div class="form-label-group">
									<input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
									<label for="inputUsername">Username</label>
								</div>

								<div class="form-label-group">
									<input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required>
									<label for="inputEmail">Email Address</label>
								</div>

								<div class="form-label-group">
									<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
									<label for="inputPassword">Password</label>
								</div>

								<!-- BUTTONS -->
								<button class="btn btn-lg btn-primary btn-block btn-register text-uppercase font-weight-bold mb-2" type="submit">Register</button>
								<a class="d-block text-center mt-2 small" href="#">Have an account? Click to log in!</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>