<div class="container">
	<div class="card">
		<div class="card-body">
			<!-- PROFILE PICTURE -->
			<img id="profilePicture" src="https://i.pinimg.com/736x/56/78/4d/56784dfcc624e322c04e1037ba83ae09.jpg" alt="Profile Pic">

			<br>
			<br>

			<!-- NAME AND TITLE -->
			<h5 class="card-title">Mark Zuckerberg</h5>
			<h6 class="card-subtitle text-muted">Facebook CEO</h6>

			<br>

			<!-- ACCOUNT INFORMATION -->
			<div class="text-left">
				<p><b>Email: </b>mzucc@facebook.com</p>
				<p><b>Username: </b>therealmark123</p>
				<p><b>Username: </b>mZucc</p>
				<p><b>Phone Number: </b>(123) 456-7890</p>
			</div>

			<br>

			<!-- BUTTONS -->
			<div>
				<button class="btn btn-success btn-block text-uppercase mb-2 rounded-pill scd reva	hadow-sm" type="button">Clicky One</button>
				<button class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" type="button">Clicky Two</button>
			</div>
		</div>
	</div>
</div>