<div class="container">
	<div class="card">
		<div class="card-body">
			<!-- PROFILE PICTURE -->
			<img id="profilePicture" src="https://i.pinimg.com/736x/56/78/4d/56784dfcc624e322c04e1037ba83ae09.jpg" alt="Profile Pic">

			<br>
			<br>

			<!-- NAME AND TITLE -->
			<h5 class="card-title">Mark Zuckerberg</h5>
			<h6 class="card-subtitle text-muted">Facebook CEO</h6>

			<br>

			<!-- ACCOUNT INFORMATION -->
			<div class="text-left">
				<p>{{character?.id}}</p>
				<p>{{character?.name}}</p>
				<p>{{character?.status}}</p>
				<p>{{character?.species}}</p>
				<p>{{character?.type}}</p>
				<p>{{character?.gender}}</p>
				<p>{{character?.origin}}</p>
				<p>{{character?.location}}</p>
				<p>{{character?.image}}</p>
				<p>{{character?.url}}</p>
				<p>{{character?.created}}</p>
			</div>

			<br>

			<!-- BUTTONS -->
			<div>
				<button (click)="getTest()" type="button">Clicky</button>
			</div>
		</div>
	</div>
</div>