<div class="container">
	<div class="card">
		<div class="card-body">
			<!-- PROFILE PICTURE -->
			<img src="{{character?.image}}" class="container">

			<br>
			<br>

			<!-- NAME AND TITLE -->
			<h5 *ngIf="character" class="card-title">ID: {{character?.id}}</h5>
			<h6 *ngIf="character" class="card-subtitle text-muted">Name: {{character?.name}}</h6>

			<br>

			<!-- INFORMATION -->
			<div class="text-left">
				<p *ngIf="character">Status: {{character?.status}}</p>
				<p *ngIf="character">Species: {{character?.species}}</p>
				<p *ngIf="character">Gender: {{character?.gender}}</p>
			</div>
			<div>
				<label *ngIf="!character" class="text-center">Enter number from 1 - 591</label>
				<input class="form-control" type="number" [(ngModel)]="id">
				<button (click)="getCharacter()" class="btn btn-warning btn-block" type="submit">Clicky</button>
			</div>
		</div>
	</div>
</div>