<div class="container-fluid">
	<div class="row no-gutter">
		<!-- LEFT HALF -->
		<div class="col-md-6 d-none d-md-flex bg-image"></div>

		<!-- RIGHT HALF -->
		<div class="col-md-6 bg-light">
			<div class="register d-flex align-items-center py-5">

				<!-- REGISTER-->
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-xl-8 mx-auto">
							<p class="display-4">Register</p>
							<form>
								<!-- INPUT FIELDS -->
								<div class="form-group my-3">
									<input [(ngModel)]="user.email" name="inputEmail" id="inputEmail" type="email" placeholder="Email address" class="form-control rounded-pill border-0 shadow-sm px-4" required autofocus>
								</div>
								<div class="form-group my-3">
									<input [(ngModel)]="user.password" name="inputPassword" id="inputPassword" type="password" placeholder="Password" class="form-control rounded-pill border-0 shadow-sm px-4 text-secondary" required>
								</div>
								<div class="form-group my-3">
									<input [(ngModel)]="user.firstName" name="inputFirstName" id="inputFirstName" type="text" placeholder="First name" class="form-control rounded-pill border-0 shadow-sm px-4 text-secondary" required>
								</div>
								<div class="form-group my-3">
									<input [(ngModel)]="user.lastName" name="inputLastName" id="inputLastName" type="text" placeholder="Last name" class="form-control rounded-pill border-0 shadow-sm px-4 text-secondary" required>
								</div>
								<div class="form-group my-3">
									<input [(ngModel)]="user.contact" name="inputContact" id="inputContact" type="tel" placeholder="Phone number" class="form-control rounded-pill border-0 shadow-sm px-4 text-secondary" required>
								</div>

								<!-- BUTTONS -->
								<button (click)="onSubmit()" class="btn btn-primary btn-block text-uppercase my-3 rounded-pill shadow-sm" type="submit">Sign Up</button>
								<div class="text-center d-flex justify-content-between mt-4">
									<p>
										Have an account? <a href="/login" class="font-italic text-muted">Login</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>